<div class="panel panel-default panel-outbox">
  <div class="panel-heading panel-outbox">
    <h4 class="panel-title outbox">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
        <span uib-accordion-header ng-class="{'text-muted': isDisabled}"></span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body outbox" style="text-align: left" ng-transclude></div>
  </div>
</div>
